---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/ISteamUser/GetFriendList/V001/?key=<STEAM_API_KEY>&steamid=76561198052976237
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"friendslist\": {\n\t\t\"friends\": [\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561197992246166\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1416242540\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561198003089603\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1370010617\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\":
        \"76561198003305161\",\n\t\t\t\t\"relationship\": \"friend\",\n\t\t\t\t\"friend_since\":
        1335948260\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"steamid\": \"76561198005419412\",\n\t\t\t\t\"relationship\":
        \"friend\",\n\t\t\t\t\"friend_since\": 1328776307\n\t\t\t},\n\t\t\t{\n\t\t\[...]
