---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetLeagueListing/V001/?key=<STEAM_API_KEY>&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 15 Nov 2014 02:02:58 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"leagues\": [\n\t\t\t{\n\t\t\t\t\"name\":
        \"Dota 2 Just For Fun\",\n\t\t\t\t\"leagueid\": 1212,\n\t\t\t\t\"description\":
        \"64 of the best Brazilian amateur teams compete to become the winner of the
        first Dota 2 Just For Fun tournament. \",\n\t\t\t\t\"tournament_url\": \"https://binarybeast.com/xDOTA21404228/\",\n\t\t\t\t\"itemdef\":
        10541\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"name\": \"joinDOTA League Season 3\",\n\t\t\t\t\"leagueid\":
        1640,\n\t\t\t\t\"description\": \"The global Dota 2 league for everyone. Featured
        are all of the matches from division 1 and 2. There are three leagues: Europe,
        America, and Asia. The top 10 from each league meet in the premier division.
        $1.00 from each ticket purchased will go directly into the prizepool.\",\n\t\t\t\t\"tournament_url\":
        \"http://www.j[...]
