---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetLiveLeagueGames/V001/?key=<STEAM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 09 Dec 2014 06:53:08 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"games\": [\n\n\t\t]\n\t\t,\n\t\t\"status\":
        200\n\t}\n}"
  recorded_at: Tue, 09 Dec 2014 06:53:13 GMT
recorded_with: VCR 2.9.3
