---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetLiveLeagueGames/v1/?key=<STEAM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 09 Dec 2014 16:05:57 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"players\":
        [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 34145091,\n\t\t\t\t\t\t\"name\":
        \"Lunar Gato @ CSPL.ru\",\n\t\t\t\t\t\t\"hero_id\": 84,\n\t\t\t\t\t\t\"team\":
        0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 131905004,\n\t\t\t\t\t\t\"name\":
        \"Patrikeich\",\n\t\t\t\t\t\t\"hero_id\": 16,\n\t\t\t\t\t\t\"team\": 1\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        202776263,\n\t\t\t\t\t\t\"name\": \"Ibrik\",\n\t\t\t\t\t\t\"hero_id\": 86,\n\t\t\t\t\t\t\"team\":
        0\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 110981154,\n\t\t\t\t\t\t\"name\":
        \"AaA.Kana\",\n\t\t\t\t\t\t\"hero_id\": 9,\n\t\t\t[...]
