---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001/?key=<STEAM_API_KEY>&match_id=1430857330
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 28 Apr 2015 20:14:24 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"account_id\":
        88271237,\n\t\t\t\t\"player_slot\": 0,\n\t\t\t\t\"hero_id\": 83,\n\t\t\t\t\"item_0\":
        178,\n\t\t\t\t\"item_1\": 108,\n\t\t\t\t\"item_2\": 67,\n\t\t\t\t\"item_3\":
        30,\n\t\t\t\t\"item_4\": 214,\n\t\t\t\t\"item_5\": 0,\n\t\t\t\t\"kills\":
        0,\n\t\t\t\t\"deaths\": 5,\n\t\t\t\t\"assists\": 4,\n\t\t\t\t\"leaver_status\":
        0,\n\t\t\t\t\"gold\": 2271,\n\t\t\t\t\"last_hits\": 178,\n\t\t\t\t\"denies\":
        9,\n\t\t\t\t\"gold_per_min\": 250,\n\t\t\t\t\"xp_per_min\": 285,\n\t\t\t\t\"gold_spent\":
        10120,\n\t\t\t\t\"hero_damage\": 1102,\n\t\t\t\t\"tower_damage\": 18,\n\t\t\t\t\"hero_healing\":
        549,\n\t\t\t\t\"level\": 17,\n\t\t\t\t\"ability_upgrades\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5436,\n\t\t\t\t\t\t\"time\": 779,\n\t\t\t\t\t\t\"level\": 1\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5435,\n\t\t\t\t\t\t\"time\": 864,\n\t\t\t\t\t\t\"level\": 2\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5436,\n\t\t\t\t\t\t\"time\": 1008,\n\t\t\t\t\t\t\"level\": 3\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5434,\n\t\t\t\t\t\t\"time\": 1081,\n\t\t\t\t\t\t\"level\": 4\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5436,\n\t\t\t\t\t\t\"time\": 1225,\n\t\t\t[...]
