---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001/?key=2FBBA83745F494FAE688AFB8463CD4FC&match_id=789645621
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 21 Jul 2014 20:12:50 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"account_id\":
        98887913,\n\t\t\t\t\"player_slot\": 0,\n\t\t\t\t\"hero_id\": 69,\n\t\t\t\t\"item_0\":
        1,\n\t\t\t\t\"item_1\": 34,\n\t\t\t\t\"item_2\": 0,\n\t\t\t\t\"item_3\": 79,\n\t\t\t\t\"item_4\":
        214,\n\t\t\t\t\"item_5\": 38,\n\t\t\t\t\"kills\": 2,\n\t\t\t\t\"deaths\":
        1,\n\t\t\t\t\"assists\": 13,\n\t\t\t\t\"leaver_status\": 0,\n\t\t\t\t\"gold\":
        649,\n\t\t\t\t\"last_hits\": 45,\n\t\t\t\t\"denies\": 0,\n\t\t\t\t\"gold_per_min\":
        437,\n\t\t\t\t\"xp_per_min\": 460,\n\t\t\t\t\"gold_spent\": 6670,\n\t\t\t\t\"hero_damage\":
        3577,\n\t\t\t\t\"tower_damage\": 153,\n\t\t\t\t\"hero_healing\": 526,\n\t\t\t\t\"level\":
        11,\n\t\t\t\t\"ability_upgrades\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5339,\n\t\t\t\t\t\t\"time\": 738,\n\t\t\t\t\t\t\"level\": 1\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5340,\n\t\t\t\t\t\t\"time\": 750,\n\t\t\t\t\t\t\"level\": 2\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5340,\n\t\t\t\t\t\t\"time\": 821,\n\t\t\t\t\t\t\"level\": 3\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5339,\n\t\t\t\t\t\t\"time\": 906,\n\t\t\t\t\t\t\"level\": 4\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5340,\n\t\t\t\t\t\t\"time\": 960,\n\t\t\t\t\[...]
