---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetMatchHistory/V001/?key=<STEAM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 20 Nov 2014 13:24:28 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"status\": 1,\n\t\t\"num_results\": 100,\n\t\t\"total_results\":
        500,\n\t\t\"results_remaining\": 400,\n\t\t\"matches\": [\n\t\t\t{\n\t\t\t\t\"match_id\":
        1037240369,\n\t\t\t\t\"match_seq_num\": 928546488,\n\t\t\t\t\"start_time\":
        1416489683,\n\t\t\t\t\"lobby_type\": 8,\n\t\t\t\t\"radiant_team_id\": 0,\n\t\t\t\t\"dire_team_id\":
        0,\n\t\t\t\t\"players\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 67912041,\n\t\t\t\t\t\t\"player_slot\":
        0,\n\t\t\t\t\t\t\"hero_id\": 14\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\":
        147012410,\n\t\t\t\t\t\t\"player_slot\": 128,\n\t\t\t\t\t\t\"hero_id\": 10\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t\t\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"match_id\":
        1037240034,\n\t\t\t\t\"match_seq_num\": 928544710,\n\t\t\t\t\"start_time\":
        1416489679,\n\t\t\t\t\"lobby_type\": 8,\n\t\t\t\t\"radiant_team_id\": 0,\n\t\t\t\t\"dire_team_id\":
        0,\n\t\t\t\t\"players\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"account_id\": 4294967295,\[...]
