---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetMatchDetails/V001/?key=<STEAM_API_KEY>&match_id=1443560328
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 03 May 2015 07:36:46 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"players\": [\n\t\t\t{\n\t\t\t\t\"account_id\":
        110817921,\n\t\t\t\t\"player_slot\": 0,\n\t\t\t\t\"hero_id\": 93,\n\t\t\t\t\"item_0\":
        63,\n\t\t\t\t\"item_1\": 249,\n\t\t\t\t\"item_2\": 181,\n\t\t\t\t\"item_3\":
        170,\n\t\t\t\t\"item_4\": 212,\n\t\t\t\t\"item_5\": 34,\n\t\t\t\t\"kills\":
        1,\n\t\t\t\t\"deaths\": 4,\n\t\t\t\t\"assists\": 7,\n\t\t\t\t\"leaver_status\":
        0,\n\t\t\t\t\"gold\": 931,\n\t\t\t\t\"last_hits\": 187,\n\t\t\t\t\"denies\":
        2,\n\t\t\t\t\"gold_per_min\": 396,\n\t\t\t\t\"xp_per_min\": 504,\n\t\t\t\t\"gold_spent\":
        11320,\n\t\t\t\t\"hero_damage\": 6781,\n\t\t\t\t\"tower_damage\": 448,\n\t\t\t\t\"hero_healing\":
        0,\n\t\t\t\t\"level\": 17,\n\t\t\t\t\"ability_upgrades\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5495,\n\t\t\t\t\t\t\"time\": 401,\n\t\t\t\t\t\t\"level\": 1\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5496,\n\t\t\t\t\t\t\"time\": 479,\n\t\t\t\t\t\t\"level\": 2\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5494,\n\t\t\t\t\t\t\"time\": 535,\n\t\t\t\t\t\t\"level\": 3\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5494,\n\t\t\t\t\t\t\"time\": 602,\n\t\t\t\t\t\t\"level\": 4\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"ability\":
        5494,\n\t\t\t\t\t\t\"time\": 686,\n\t\t\t\t\[...]
