---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetScheduledLeagueGames/v1/?key=<STEAM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 13 Dec 2014 23:41:24 GMT
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"games\": [\n\t\t\t{\n\t\t\t\t\"league_id\":
        2057,\n\t\t\t\t\"game_id\": 27,\n\t\t\t\t\"teams\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"team_id\":
        1518118,\n\t\t\t\t\t\t\"team_name\": \"Team Poker Face\",\n\t\t\t\t\t\t\"logo\":
        3296943472277256390\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t\t,\n\t\t\t\t\"starttime\":
        1418531400,\n\t\t\t\t\"comment\": \"\",\n\t\t\t\t\"final\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"league_id\":
        2044,\n\t\t\t\t\"game_id\": 3,\n\t\t\t\t\"teams\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"team_id\":
        1718551,\n\t\t\t\t\t\t\"team_name\": \"ROOT-gaming.com\",\n\t\t\t\t\t\t\"logo\":
        581278600501828765\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"team_id\": 1937628,\n\t\t\t\t\t\t\"team_name\":
        \"Boreal eSports\",\n\t\t\t\t\t\t\"logo\": 23967657847159241\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t\t,\n\t\t\t\t\"starttime\":
        14185368[...]
