---
http_interactions:
- request:
    method: get
    uri: https://api.steampowered.com/IDOTA2Match_570/GetTeamInfoByTeamID/V001/?key=2FBBA83745F494FAE688AFB8463CD4FC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"result\": {\n\t\t\"status\": 1,\n\t\t\"teams\": [\n\t\t\t{\n\t\t\t\t\"team_id\":
        2,\n\t\t\t\t\"name\": \"Zenith\",\n\t\t\t\t\"tag\": \"Zenith\",\n\t\t\t\t\"time_created\":
        1338330222,\n\t\t\t\t\"rating\": \"inactive\",\n\t\t\t\t\"logo\": 612767741208345582,\n\t\t\t\t\"logo_sponsor\":
        612767741208349882,\n\t\t\t\t\"country_code\": \"\",\n\t\t\t\t\"url\": \"\",\n\t\t\t\t\"games_played_with_current_roster\":
        0,\n\t\t\t\t\"player_0_account_id\": 84772440,\n\t\t\t\t\"player_1_account_id\":
        85417034,\n\t\t\t\t\"admin_account_id\": 84772440,\n\t\t\t\t\"league_id_0\":
        5,\n\t\t\t\t\"league_id_1\": 7,\n\t\t\t\t\"league_id_2\": 8,\n\t\t\t\t\"league_id_3\":
        23,\n\t\t\t\t\"league_id_4\": 26,\n\t\t\t\t\"league_id_5\": 34,\n\t\t\t\t\"league_id_6\":
        38,\n\t\t\t\t\"league_id_7\": 39,\n\t\t\t\t\"league_id_8\": 40,\n\t\t\t\t\"league_id_9\":
        44,\n\t\t\t\t\"league_id_10\": 54,\n\t\t\t\t\"league_id_11\": 58,\n\t\t\t\t\"league_id_12\":
        65001,\n\t\t\t\t\"league_id_13\": 65006\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"team_id\":
        3,\n\t\t\t\t\"name\": \"compLexity Gaming\",\n\t\t\t\t\"tag\": \"coL\",\n\t\t\t\t\"time_created\":
        1338330535,\n\t\t\t\t\"rating\": \"inactive\",\n\t\t\t\t\"logo\": 533996689981983341,\n\t\t\t\t\"logo_sponsor\":
        542940926646147236,\n\t\t\t\t\"country_code\": \"us\",\n\t\t\t\t\"url\": \"http://compLexityGaming.com\",\n\t\t\t\t\"games_played_with_current_roster\":
        0,\n\t\t\t\t\"player_0_account_id\": 28291366,\n\t\t\t\t\"player_1_account_id\":
        49317728,\n\t\t\t\t\"player_2_account_id\": 44111721,\n\t\t\t\t\"player_3_account_id\":
        50828662,\n\t\t\t\t\"player_4_account_id\": 38628747,\n\t\t\t\t\"player_5_account_id\":
        12231202,\n\t\t\t\t\"player_6_account_id\": 59752811,\n\t\t\t\t\"admin_account_id\":
        28291366,\n\t\t\t\t\"league_id_0\": 4,\n\t\t\t\t\"league_id_1\": 7,\n\t\t\t\t\"league_id_2\":
        9,\n\t\t\t\t\"league_id_3\": 65001\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"team_id\":
        5,\n\t\t\t\t\"name\": \"Invictus Gaming\",\n\t\t\t\t\"tag\": \"iG\",\n\t\t\t\t\"time_created\":
        1338448478,\n\t\t\t\t\"rating\": \"inactive\",\n\t\t\t\t\"logo\": 79128337325388690,\n\t\t\t\t\"logo_sponsor\":
        0,\n\t\t\t\t\"country_code\": \"cn\",\n\t\t\t\t\"url\": \"www.facebook.com/InvictusGaming.Official/\",\n\t\t\t\t\"games_played_with_current_roster\":
        0,\n\t\t\t\t\"player_0_account_id\": 88553213,\n\t\t\t\t\"player_1_account_id\":
        88585077,\n\t\t\t\t\"player_2_account_id\": 89246836,\n\t\t\t\t\"player_3_account_id\":
        90031225,\n\t\t\t\t\"player_4_account_id\": 138885864,\n\t\t\t\t\"admin_account_id\":
        88585077,\n\t\t\t\t\"league_id_0\": 5,\n\t\t\t\t\"league_id_1\": 7,\n\t\t\t\t\"league_id_2\":
        8,\n\t\t\t\t\"league_id_3\": 17,\n\t\t\t\t\"league_id_4\": 24,\n\t\t\t\t\"league_id_5\":
        34,\n\t\t\t\t\"league_id_6\": 42,\n\t\t\t\t\"league_id_7\": 52,\n\t\t\t\t\"league_id_8\":
        54,\n\t\t\t\t\"league_id_9\": 76,\n\t\t\t\t\"league_id_10\": 81,\n\t\t\t\t\"league_id_11\":
        91,\n\t\t\t\t\"league_id_12\": 104,\n\t\t\t\t\"league_id_13\": 114,\n\t\t\t\t\"league_id_14\":
        120,\n\t\t\t\t\"league_id_15\": 177,\n\t\t\t\t\"league_id_16\": 189,\n\t\t\t\t\"league_id_17\":
        232,\n\t\t\t\t\"league_id_18\": 600,\n\t\t\t\t\"league_id_19\": 1014,\n\t\t\t\t\"league_id_20\":
        1097,\n\t\t\t\t\"league_id_21\": 1116,\n\t\t\t\t\"league_id_22\": 1157,\n\t\t\t\t\"league_id_23\":
        1245,\n\t\t\t\t\"league_id_24\": 1248,\n\t\t\t\t\"league_id_25\": 1284,\n\t\t\t\t\"league_id_26\":
        1350,\n\t\t\t\t\"league_id_27\": 1407,\n\t\t\t\t\"league_id_28\": 1418,\n\t\t\t\t\"league_id_29\":
        1663,\n\t\t\t\t\"league_id_30\": 1709,\n\t\t\t\t\"league_id_31\": 1803,\n\t\t\t\t\"league_id_32\":
        1869,\n\t\t\t\t\"league_id_33\": 1886,\n\t\t\t\t\"league_id_34\": 1934,\n\t\t\t\t\"league_id_35\":
        1936,\n\t\t\t\t\"league_id_36\": 2032,\n\t\t\t\t\"league_id_37\": 2045,\n\t\t\t\t\"league_id_38\":
        2096,\n\t\t\t\t\"league_id_39\": 65001,\n\t\t\t\t\"league_id_40\": 65006,\n\t\t\t\t\"league_id_41\":
        65008\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"team_id\": 7,\n\t\t\t\t\"name\": \"DK\",\n\t\t\t\t\"tag\":
        \"DK\",\n\t\t\t\t\"time_created\": 1338551060,\n\t\t\t\t\"rating\": \"inactive\",\n\t\t\t\t\"logo\":
        577870551233852518,\n\t\t\t\t\"logo_sponsor\": 577870551233854595,\n\t\t\t\t\"country_code\":
        \"cn\",\n\t\t\t\t\"url\": \"\",\n\t\t\t\t\"games_played_with_current_roster\":
        0,\n\t\t\t\t\"player_0_account_id\": 108376607,\n\t\t\t\t\"player_1_account_id\":
        [...]
